/**编辑器样式**/
/**外层div**/
#nestMDDiv {
    z-index: 1000;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    display: none;
}

#nestMDDiv iframe {
    width: 100%;
    height: 100%;
}
/**编辑**/
#editorDiv {
    position: relative;
    float: left;
    width: 36%;
    height: 100%;
}
/**显示**/
#showDiv {
    float: right;
    width: 64%;
    height: 100%;
    background: white;
}
/**关闭按钮**/
#coloseDiv {
	position: absolute;
    top: 5px;
    right: 2px;
    width: 28px;
    background: white;
}

#coloseDiv img {
	width: 100%;
}

/**过度动画**/
.loadEffect{
    width: 20px;
    height: 20px;
    position: relative;
    margin: 0 auto;
}
.loadEffect span{
    display: inline-block;
    width: 6px;
    height: 2px;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    background: lightgreen;
    position: absolute;
    -webkit-animation: load 1.04s ease infinite;
}
@-webkit-keyframes load{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0.2;
    }
}
.loadEffect span:nth-child(1){
    left: 0;
    top: 50%;
    margin-top:-1px;
    -webkit-animation-delay:0.13s;
}
.loadEffect span:nth-child(2){
    left: 1px;
    top: 4px;
    -webkit-transform: rotate(45deg);
    -webkit-animation-delay:0.26s;
}
.loadEffect span:nth-child(3){
    left: 50%;
    top: 2px;
    margin-left: -3px;
    -webkit-transform: rotate(90deg);
    -webkit-animation-delay:0.39s;
}
.loadEffect span:nth-child(4){
    top: 4px;
    right:2px;
    -webkit-transform: rotate(135deg);
    -webkit-animation-delay:0.52s;
}
.loadEffect span:nth-child(5){
    right: 0;
    top: 50%;
    margin-top:-1px;
    -webkit-transform: rotate(180deg);
    -webkit-animation-delay:0.65s;
}
.loadEffect span:nth-child(6){
    right: 2px;
    bottom:4px;
    -webkit-transform: rotate(225deg);
    -webkit-animation-delay:0.78s;
}
.loadEffect span:nth-child(7){
    bottom: 2px;
    left: 50%;
    margin-left: -3px;
    -webkit-transform: rotate(270deg);
    -webkit-animation-delay:0.91s;
}
.loadEffect span:nth-child(8){
    bottom: 4px;
    left: 2px;
    -webkit-transform: rotate(315deg);
    -webkit-animation-delay:1.04s;
}